*{
    margin: 0%;
    padding: 0%;
    font-family:Montserrat;
    box-sizing: border-box;
} 
.header{
    padding: 30px;
}
.header__card{
    border: 1px solid black;
    width: 450px;
    text-align: center;
    padding-bottom: 30px;
    margin: auto;
}
.header__card__image{
    height: 400px;
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.header__card__image__container{
    margin-bottom: 30px;
    height: 350px;
}
.header__card__head__text{
    letter-spacing: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 30px;
}
.header__card__h1{
    text-transform: uppercase;
    font-size: 55px;
    font-family: Playfair Display;
    letter-spacing:5px;
    line-height: 45px ;
    margin-bottom: 30px;
}
.header__card___text____{
    font-weight: 700;
    margin-bottom: 30px;
}
.header__card__title__text{
    font-weight: 700;
}
.header__card__conteiner__title__text{
    margin: auto;
    width: 360px;
    margin-bottom: 50px;
}
.header__card__link{
    text-decoration: none;
    color: white;
    background-color: black;
    letter-spacing: 5px;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 13px;
}
.header__card__link:hover{
    transition: 0.3s;
    background-color: rgb(61, 61, 61);
}


